# Dependencies and read data

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file = "Data/migration_data.csv"

# Read file and store into Pandas data frame
migration_data = pd.read_csv(file)

# Test whether data has been read
migration_data.head()

,MEASURE:Migration type,SEX_ABS:Sex,AGE:Age,ASGS_2011:Region,FREQUENCY:Frequency,TIME:Time,Value,Flag Codes:Flags
0,1:NOM arrival,1:Males,A04:0 - 4,0:Australia,A:Annual,2004:2004,10080,NaN
1,1:NOM arrival,1:Males,A04:0 - 4,0:Australia,A:Annual,2005:2005,10680,NaN
2,1:NOM arrival,1:Males,A04:0 - 4,0:Australia,A:Annual,2006:2006,11840,NaN
3,1:NOM arrival,1:Males,A04:0 - 4,0:Australia,A:Annual,2007:2007,13250,NaN
4,1:NOM arrival,1:Males,A04:0 - 4,0:Australia,A:Annual,2008:2008,15470,NaN

# Cleaning data - Drop collumn

In [2]:
# Drop the last collumn "Flag Codes" - not needed
migration_data = migration_data.drop(columns=['Flag Codes:Flags'])

In [3]:
migration_data.head()

,MEASURE:Migration type,SEX_ABS:Sex,AGE:Age,ASGS_2011:Region,FREQUENCY:Frequency,TIME:Time,Value
0,1:NOM arrival,1:Males,A04:0 - 4,0:Australia,A:Annual,2004:2004,10080
1,1:NOM arrival,1:Males,A04:0 - 4,0:Australia,A:Annual,2005:2005,10680
2,1:NOM arrival,1:Males,A04:0 - 4,0:Australia,A:Annual,2006:2006,11840
3,1:NOM arrival,1:Males,A04:0 - 4,0:Australia,A:Annual,2007:2007,13250
4,1:NOM arrival,1:Males,A04:0 - 4,0:Australia,A:Annual,2008:2008,15470

# Cleaning data - Rename collumns

In [4]:
migration_data = migration_data.rename(columns = {
    'MEASURE:Migration type': "Migration type", 
    'SEX_ABS:Sex' : "Sex", 
    'AGE:Age' : "Age", 
    'ASGS_2011:Region' : "Region",
    'FREQUENCY:Frequency' : "Frequency", 
    'TIME:Time' : "Year"})

In [5]:
migration_data.columns

Index(['Migration type', 'Sex', 'Age', 'Region', 'Frequency', 'Year', 'Value'], dtype='object')

# Cleaning data - Removing and extracting unwanted string or numbers from collumns

In [26]:
# MIGRATION DATA
migration_data['Migration type'] = migration_data['Migration type'].str.lstrip('123:')
migration_data['Migration type']

0        NOM arrival
1        NOM arrival
2        NOM arrival
3        NOM arrival
4        NOM arrival
            ...
19435            NOM
19436            NOM
19437            NOM
19438            NOM
19439            NOM
Name: Migration type, Length: 19440, dtype: object

In [7]:
# SEX 
migration_data['Sex'] = migration_data['Sex'].str.lstrip('123:')
migration_data['Sex']

0          Males
1          Males
2          Males
3          Males
4          Males
          ...
19435    Persons
19436    Persons
19437    Persons
19438    Persons
19439    Persons
Name: Sex, Length: 19440, dtype: object

In [6]:
migration_data['Age'] = migration_data.Age.str.split(':').apply(lambda x: x[1])
migration_data['Age']

0              0 - 4
1              0 - 4
2              0 - 4
3              0 - 4
4              0 - 4
            ...
19435    65 and over
19436    65 and over
19437    65 and over
19438    65 and over
19439    65 and over
Name: Age, Length: 19440, dtype: object

In [8]:
# REGION
migration_data['Region'] = migration_data['Region'].str.lstrip('012345678:')
migration_data['Region']

0                           Australia
1                           Australia
2                           Australia
3                           Australia
4                           Australia
                     ...
19435    Australian Capital Territory
19436    Australian Capital Territory
19437    Australian Capital Territory
19438    Australian Capital Territory
19439    Australian Capital Territory
Name: Region, Length: 19440, dtype: object

In [9]:
# Add the abbreviations for each capital i.e. AUS, VIC, NSW, QLD, WA, SA, ACT, NT, TAS

In [10]:
migration_data.loc[migration_data['Region'] == 'Australia', 'Region_X'] = 'AUS'
migration_data.loc[migration_data['Region'] == 'Victoria', 'Region_X'] = 'VIC'
migration_data.loc[migration_data['Region'] == 'New South Wales', 'Region_X'] = 'NSW'
migration_data.loc[migration_data['Region'] == 'Queensland', 'Region_X'] = 'QLD'
migration_data.loc[migration_data['Region'] == 'Western Australia', 'Region_X'] = 'WA'
migration_data.loc[migration_data['Region'] == 'South Australia', 'Region_X'] = 'SA'
migration_data.loc[migration_data['Region'] == 'Australian Capital Territory', 'Region_X'] = 'ACT'
migration_data.loc[migration_data['Region'] == 'Northern Territory', 'Region_X'] = 'NT'
migration_data.loc[migration_data['Region'] == 'Tasmania', 'Region_X'] = 'TAS'

In [11]:
migration_data.head()

  Migration type    Sex    Age     Region Frequency       Year  Value Region_X
0  1:NOM arrival  Males  0 - 4  Australia  A:Annual  2004:2004  10080      AUS
1  1:NOM arrival  Males  0 - 4  Australia  A:Annual  2005:2005  10680      AUS
2  1:NOM arrival  Males  0 - 4  Australia  A:Annual  2006:2006  11840      AUS
3  1:NOM arrival  Males  0 - 4  Australia  A:Annual  2007:2007  13250      AUS
4  1:NOM arrival  Males  0 - 4  Australia  A:Annual  2008:2008  15470      AUS

In [12]:
# FREQUENCY
migration_data['Frequency'] = migration_data['Frequency'].str.replace('A:Annual', 'Annual')
migration_data['Frequency']

0        Annual
1        Annual
2        Annual
3        Annual
4        Annual
          ...
19435    Annual
19436    Annual
19437    Annual
19438    Annual
19439    Annual
Name: Frequency, Length: 19440, dtype: object

In [14]:
# TIME
migration_data['Year'] = migration_data.Year.str.split(':').apply(lambda x: x[1])
migration_data['Year']

0        2004
1        2005
2        2006
3        2007
4        2008
         ...
19435    2015
19436    2016
19437    2017
19438    2018
19439    2019
Name: Year, Length: 19440, dtype: object

# Aggregating datasets

In [15]:
migration_data.head(100)

,Migration type,Sex,Age,Region,Frequency,Year,Value,Region_X
0,NOM arrival,Males,0 - 4,Australia,Annual,2004,10080,AUS
1,NOM arrival,Males,0 - 4,Australia,Annual,2005,10680,AUS
2,NOM arrival,Males,0 - 4,Australia,Annual,2006,11840,AUS
3,NOM arrival,Males,0 - 4,Australia,Annual,2007,13250,AUS
4,NOM arrival,Males,0 - 4,Australia,Annual,2008,15470,AUS
...,...,...,...,...,...,...,...,...
95,NOM arrival,Males,0 - 4,Western Australia,Annual,2019,1460,WA
96,NOM arrival,Males,0 - 4,Tasmania,Annual,2004,110,TAS
97,NOM arrival,Males,0 - 4,Tasmania,Annual,2005,90,TAS
98,NOM arrival,Males,0 - 4,Tasmania,Annual,2006,110,TAS
99,NOM arrival,Males,0 - 4,Tasmania,Annual,2007,120,TAS

In [16]:
net_migration = migration_data.groupby(['Migration type', 'Region_X', 'Year', 'Sex', 'Age']).sum()['Value']
net_migration.head(150)

Migration type  Region_X  Year
NOM             ACT       2004     4120
                          2005     3900
                          2006     6000
                          2007     7500
                          2008    13380
                                  ...
NOM arrival     ACT       2005    22660
                          2006    24570
                          2007    26340
                          2008    32150
                          2009    34240
Name: Value, Length: 150, dtype: int64

In [17]:
final_net_migration = net_migration.reset_index()
final_net_migration

    Migration type Region_X  Year   Value
0              NOM      ACT  2004    4120
1              NOM      ACT  2005    3900
2              NOM      ACT  2006    6000
3              NOM      ACT  2007    7500
4              NOM      ACT  2008   13380
..             ...      ...   ...     ...
427  NOM departure       WA  2015  158920
428  NOM departure       WA  2016  154620
429  NOM departure       WA  2017  136150
430  NOM departure       WA  2018  120640
431  NOM departure       WA  2019  116270

[432 rows x 4 columns]

In [20]:
final_net_migration.to_csv ("Data/net_migration.csv", index = None, header=True, encoding='utf-8')

# Connecting to pgAdmin

In [19]:
from sqlalchemy import create_engine

In [21]:
rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

OperationalError: (psycopg2.OperationalError) FATAL:  database "enrolment_migration_db" does not exist

(Background on this error at: http://sqlalche.me/e/13/e3q8)